@charset "UTF-8";

 
.icon-infinity-1:before { content: '\221e'; } /* '∞' */
.icon-scissors-1:before { content: '\2702'; } /* '✂' */
.icon-pencil-2:before { content: '\270e'; } /* '✎' */
.icon-user-add-1:before { content: '\e10f'; } /* '' */
.icon-user-delete-outline:before { content: '\e110'; } /* '' */
.icon-user-delete:before { content: '\e111'; } /* '' */
.icon-user-outline:before { content: '\e112'; } /* '' */
.icon-user-2:before { content: '\e113'; } /* '' */
.icon-videocam-outline:before { content: '\e114'; } /* '' */
.icon-videocam-1:before { content: '\e115'; } /* '' */
.icon-volume-middle:before { content: '\e116'; } /* '' */
.icon-volume-off-1:before { content: '\e117'; } /* '' */
.icon-volume-high:before { content: '\e118'; } /* '' */
.icon-volume-low:before { content: '\e119'; } /* '' */
.icon-warning-empty:before { content: '\e11a'; } /* '' */
.icon-warning:before { content: '\e11b'; } /* '' */
.icon-wristwatch:before { content: '\e11c'; } /* '' */
.icon-waves-outline:before { content: '\e11d'; } /* '' */
.icon-waves:before { content: '\e11e'; } /* '' */
.icon-cloud-2:before { content: '\e11f'; } /* '' */
.icon-rain:before { content: '\e120'; } /* '' */
.icon-moon-2:before { content: '\e121'; } /* '' */
.icon-cloud-sun:before { content: '\e122'; } /* '' */
.icon-drizzle:before { content: '\e123'; } /* '' */
.icon-snow:before { content: '\e124'; } /* '' */
.icon-cloud-flash:before { content: '\e125'; } /* '' */
.icon-cloud-wind:before { content: '\e127'; } /* '' */
.icon-wind:before { content: '\e128'; } /* '' */
.icon-wifi-outline:before { content: '\e129'; } /* '' */
.icon-wifi-1:before { content: '\e12a'; } /* '' */
.icon-wine:before { content: '\e12b'; } /* '' */
.icon-globe-outline:before { content: '\e12c'; } /* '' */
.icon-zoom-in-outline:before { content: '\e12e'; } /* '' */
.icon-zoom-in-1:before { content: '\e12f'; } /* '' */
.icon-zoom-out-outline:before { content: '\e130'; } /* '' */
.icon-zoom-out-1:before { content: '\e131'; } /* '' */
.icon-search-outline:before { content: '\e132'; } /* '' */
.icon-search-2:before { content: '\e133'; } /* '' */
.icon-mic-2:before { content: '\e993'; } /* '' */
.icon-loop-1:before { content: '\e9a3'; } /* '' */
.icon-wrench-1:before { content: '\e9df'; } /* '' */
.icon-mobile-2:before { content: '\e9fa'; } /* '' */
.icon-chart:before { content: '\ea03'; } /* '' */
.icon-cog-2:before { content: '\eb1b'; } /* '' */
.icon-clock-2:before { content: '\eb25'; } /* '' */
.icon-block-2:before { content: '\eb27'; } /* '' */
.icon-cw-2:before { content: '\eb38'; } /* '' */
.icon-upload-cloud-2:before { content: '\eb3f'; } /* '' */
.icon-target-2:before { content: '\eb45'; } /* '' */
.icon-sun-1:before { content: '\eb5d'; } /* '' */
.icon-flash-2:before { content: '\eb61'; } /* '' */
.icon-chart-bar-2:before { content: '\eb65'; } /* '' */
.icon-key-2:before { content: '\eb69'; } /* '' */
.icon-thumbs-down-2:before { content: '\eb85'; } /* '' */
.icon-attention-filled:before { content: '\eb8e'; } /* '' */
.icon-globe-alt:before { content: '\ebb9'; } /* '' */
.icon-reply-outline:before { content: '\ec5d'; } /* '' */
.icon-anchor-1:before { content: '\ec9f'; } /* '' */
.icon-tumbler-circled:before { content: '\ece3'; } /* '' */
.icon-flow-parallel-1:before { content: '\ece4'; } /* '' */
.icon-chart-bar-outline:before { content: '\ece6'; } /* '' */
.icon-sort-alphabet:before { content: '\ece7'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\ece8'; } /* '' */
.icon-news:before { content: '\ece9'; } /* '' */
.icon-minus-2:before { content: '\ecea'; } /* '' */
.icon-pinterest-2:before { content: '\eceb'; } /* '' */
.icon-briefcase-2:before { content: '\ecec'; } /* '' */
.icon-popup-2:before { content: '\ecee'; } /* '' */
.icon-resize-normal-outline:before { content: '\ecef'; } /* '' */
.icon-link-2:before { content: '\ecf0'; } /* '' */
.icon-link-outline:before { content: '\ecf1'; } /* '' */
.icon-resize-full-2:before { content: '\ecf3'; } /* '' */
.icon-resize-full-outline:before { content: '\ecf4'; } /* '' */
.icon-vimeo-2:before { content: '\ecf5'; } /* '' */
.icon-map-2:before { content: '\ecf6'; } /* '' */
.icon-loop-alt:before { content: '\ecf7'; } /* '' */
.icon-download-outline:before { content: '\ecf8'; } /* '' */
.icon-stop-2:before { content: '\ecf9'; } /* '' */
.icon-eject-outline:before { content: '\ecfa'; } /* '' */
.icon-edit-1:before { content: '\ecfb'; } /* '' */
.icon-attach-outline:before { content: '\ecfc'; } /* '' */
.icon-attach-2:before { content: '\ecfd'; } /* '' */
.icon-at-1:before { content: '\ecfe'; } /* '' */
.icon-loop-alt-outline:before { content: '\ecff'; } /* '' */
.icon-flag-filled:before { content: '\ed01'; } /* '' */
.icon-flash-outline:before { content: '\ed02'; } /* '' */
.icon-compass-2:before { content: '\ed03'; } /* '' */
.icon-cog-outline:before { content: '\ed04'; } /* '' */
.icon-divide-outline:before { content: '\ed06'; } /* '' */
.icon-address-1:before { content: '\ed07'; } /* '' */
.icon-folder-delete:before { content: '\ed08'; } /* '' */
.icon-folder-add:before { content: '\ed09'; } /* '' */
.icon-laptop-1:before { content: '\ed0a'; } /* '' */
.icon-desktop-1:before { content: '\ed0b'; } /* '' */
.icon-pinterest-circled-2:before { content: '\ed0d'; } /* '' */
.icon-linkedin-2:before { content: '\ed0e'; } /* '' */
.icon-down-2:before { content: '\ed0f'; } /* '' */
.icon-down-outline:before { content: '\ed10'; } /* '' */
.icon-flag-2:before { content: '\ed11'; } /* '' */
.icon-video-2:before { content: '\ed12'; } /* '' */
.icon-heart-2:before { content: '\ed13'; } /* '' */
.icon-headphones-1:before { content: '\ed14'; } /* '' */
.icon-move-1:before { content: '\ed15'; } /* '' */
.icon-move-outline:before { content: '\ed16'; } /* '' */
.icon-eject-alt:before { content: '\ed17'; } /* '' */
.icon-bat3:before { content: '\ed19'; } /* '' */
.icon-bat4:before { content: '\ed1a'; } /* '' */
.icon-stopwatch:before { content: '\ed1b'; } /* '' */
.icon-certificate-1:before { content: '\ed1c'; } /* '' */
.icon-twitter-circled-1:before { content: '\ed1d'; } /* '' */
.icon-temperatire:before { content: '\ed1e'; } /* '' */
.icon-up-2:before { content: '\ed1f'; } /* '' */
.icon-up-small:before { content: '\ed20'; } /* '' */
.icon-power-outline:before { content: '\ed21'; } /* '' */
.icon-looped-square-interest:before { content: '\ed22'; } /* '' */
.icon-resize-normal:before { content: '\ed23'; } /* '' */
.icon-chart-alt-outline:before { content: '\ed24'; } /* '' */
.icon-cancel-circled-2:before { content: '\ed25'; } /* '' */
.icon-cancel-circled-outline:before { content: '\ed26'; } /* '' */
.icon-chart-alt:before { content: '\ed27'; } /* '' */
.icon-export-2:before { content: '\ed28'; } /* '' */
.icon-export-outline:before { content: '\ed29'; } /* '' */
.icon-plug-1:before { content: '\ed2a'; } /* '' */
.icon-plane:before { content: '\ed2b'; } /* '' */
.icon-sort-numeric:before { content: '\ed2c'; } /* '' */
.icon-tablet-1:before { content: '\ed2d'; } /* '' */
.icon-right-open-outline:before { content: '\ed2e'; } /* '' */
.icon-ticket-2:before { content: '\ed2f'; } /* '' */
.icon-play-2:before { content: '\ed30'; } /* '' */
.icon-box-2:before { content: '\ed31'; } /* '' */
.icon-down-small:before { content: '\ed32'; } /* '' */
.icon-ok-1:before { content: '\ed34'; } /* '' */
.icon-ok-outline:before { content: '\ed35'; } /* '' */
.icon-globe-alt-outline:before { content: '\ed37'; } /* '' */
.icon-play-outline:before { content: '\ed38'; } /* '' */
.icon-pause-2:before { content: '\ed39'; } /* '' */
.icon-right-small:before { content: '\ed3a'; } /* '' */
.icon-right-2:before { content: '\ed3b'; } /* '' */
.icon-plus-2:before { content: '\ed3c'; } /* '' */
.icon-plus-outline:before { content: '\ed3d'; } /* '' */
.icon-plane-outline:before { content: '\ed3e'; } /* '' */
.icon-pipette:before { content: '\ed3f'; } /* '' */
.icon-th-outline:before { content: '\ed40'; } /* '' */
.icon-lock-2:before { content: '\ed41'; } /* '' */
.icon-menu-2:before { content: '\ed42'; } /* '' */
.icon-lock-filled:before { content: '\ed43'; } /* '' */
.icon-chart-pie-2:before { content: '\ed44'; } /* '' */
.icon-eq-outline:before { content: '\ed45'; } /* '' */
.icon-eject-1:before { content: '\ed46'; } /* '' */
.icon-cancel-2:before { content: '\ed47'; } /* '' */
.icon-cancel-outline:before { content: '\ed48'; } /* '' */
.icon-archive-1:before { content: '\ed4a'; } /* '' */
.icon-block-outline:before { content: '\ed4d'; } /* '' */
.icon-tree-1:before { content: '\ed4e'; } /* '' */
.icon-trash-2:before { content: '\ed4f'; } /* '' */
.icon-gift-1:before { content: '\ed50'; } /* '' */
.icon-folder-2:before { content: '\ed51'; } /* '' */
.icon-left-outline:before { content: '\ed52'; } /* '' */
.icon-left-2:before { content: '\ed53'; } /* '' */
.icon-vcard-1:before { content: '\ed54'; } /* '' */
.icon-forward-2:before { content: '\ed55'; } /* '' */
.icon-music-2:before { content: '\ed56'; } /* '' */
.icon-up-outline:before { content: '\ed57'; } /* '' */
.icon-arrows-cw-1:before { content: '\ed58'; } /* '' */
.icon-linkedin-circled-1:before { content: '\ed59'; } /* '' */
.icon-th-large-outline:before { content: '\ed5a'; } /* '' */
.icon-chat-2:before { content: '\ed5b'; } /* '' */
.icon-code-outline:before { content: '\ed5c'; } /* '' */
.icon-pi-outline:before { content: '\ed5d'; } /* '' */
.icon-clipboard-1:before { content: '\ed5e'; } /* '' */
.icon-right-open-2:before { content: '\ed5f'; } /* '' */
.icon-flow-cross:before { content: '\ed61'; } /* '' */
.icon-contrast:before { content: '\ed62'; } /* '' */
.icon-sun-filled:before { content: '\ed63'; } /* '' */
.icon-record-outline:before { content: '\ed64'; } /* '' */
.icon-rss-outline:before { content: '\ed65'; } /* '' */
.icon-cw-outline:before { content: '\ed67'; } /* '' */
.icon-dribbble-2:before { content: '\ed68'; } /* '' */
.icon-dribbble-circled-1:before { content: '\ed69'; } /* '' */
.icon-minus-outline:before { content: '\ed6a'; } /* '' */
.icon-target-outline:before { content: '\ed6c'; } /* '' */
.icon-puzzle-1:before { content: '\ed6d'; } /* '' */
.icon-star-filled:before { content: '\ed6e'; } /* '' */
.icon-star-2:before { content: '\ed6f'; } /* '' */
.icon-leaf-2:before { content: '\ed70'; } /* '' */
.icon-key-outline:before { content: '\ed72'; } /* '' */
.icon-coffee-1:before { content: '\ed74'; } /* '' */
.icon-code-2:before { content: '\ed75'; } /* '' */
.icon-contacts:before { content: '\ed76'; } /* '' */
.icon-database-2:before { content: '\ed77'; } /* '' */
.icon-doc-remove:before { content: '\ed78'; } /* '' */
.icon-doc-add:before { content: '\ed79'; } /* '' */
.icon-divide:before { content: '\ed7a'; } /* '' */
.icon-flask:before { content: '\ed7b'; } /* '' */
.icon-bat2:before { content: '\ed7c'; } /* '' */
.icon-eye-2:before { content: '\ed7d'; } /* '' */
.icon-eye-outline:before { content: '\ed7e'; } /* '' */
.icon-upload-cloud-outline:before { content: '\ed7f'; } /* '' */
.icon-sort-numeric-outline:before { content: '\ed80'; } /* '' */
.icon-comment-2:before { content: '\ed81'; } /* '' */
.icon-left-open-2:before { content: '\ed82'; } /* '' */
.icon-mail-2:before { content: '\ed83'; } /* '' */
.icon-lock-open-filled:before { content: '\ed84'; } /* '' */
.icon-direction-2:before { content: '\ed85'; } /* '' */
.icon-direction-outline:before { content: '\ed86'; } /* '' */
.icon-bell-2:before { content: '\ed87'; } /* '' */
.icon-beer-1:before { content: '\ed88'; } /* '' */
.icon-chart-outline:before { content: '\ed89'; } /* '' */
.icon-camera-2:before { content: '\ed8a'; } /* '' */
.icon-chart-pie-outline:before { content: '\ed8b'; } /* '' */
.icon-infinity-outline:before { content: '\ed8d'; } /* '' */
.icon-picture-2:before { content: '\ed8e'; } /* '' */
.icon-flow-merge:before { content: '\ed8f'; } /* '' */
.icon-tags-1:before { content: '\ed90'; } /* '' */
.icon-tag-2:before { content: '\ed91'; } /* '' */
.icon-popup-1:before { content: '\ed92'; } /* '' */
.icon-skype-outline:before { content: '\ed93'; } /* '' */
.icon-menu-outline:before { content: '\ed94'; } /* '' */
.icon-wrench-outline:before { content: '\ed96'; } /* '' */
.icon-doc-text-2:before { content: '\ed97'; } /* '' */
.icon-picture-outline:before { content: '\ed98'; } /* '' */
.icon-location-2:before { content: '\ed99'; } /* '' */
.icon-location-outline:before { content: '\ed9a'; } /* '' */
.icon-rss-2:before { content: '\ed9b'; } /* '' */
.icon-info-outline:before { content: '\ed9c'; } /* '' */
.icon-cancel-alt-filled:before { content: '\ed9d'; } /* '' */
.icon-cancel-alt:before { content: '\ed9e'; } /* '' */
.icon-facebook-2:before { content: '\ed9f'; } /* '' */
.icon-flickr-2:before { content: '\eda0'; } /* '' */
.icon-facebook-circled-1:before { content: '\eda1'; } /* '' */
.icon-flickr-circled-1:before { content: '\eda2'; } /* '' */
.icon-home-outline:before { content: '\eda3'; } /* '' */
.icon-check-2:before { content: '\eda4'; } /* '' */
.icon-check-outline:before { content: '\eda5'; } /* '' */
.icon-upload-2:before { content: '\eda6'; } /* '' */
.icon-flow-split:before { content: '\eda7'; } /* '' */
.icon-left-open-outline:before { content: '\eda8'; } /* '' */
.icon-at-circled:before { content: '\edaa'; } /* '' */
.icon-certificate-outline:before { content: '\edab'; } /* '' */
.icon-lifebuoy-2:before { content: '\edac'; } /* '' */
.icon-github-2:before { content: '\edad'; } /* '' */
.icon-arrows-cw-outline:before { content: '\edae'; } /* '' */
.icon-rewind-outline:before { content: '\edaf'; } /* '' */
.icon-record-1:before { content: '\edb0'; } /* '' */
.icon-chat-alt:before { content: '\edb1'; } /* '' */
.icon-twitter-2:before { content: '\edb3'; } /* '' */
.icon-users-2:before { content: '\edb4'; } /* '' */
.icon-th-list-outline:before { content: '\edb5'; } /* '' */
.icon-th-large-1:before { content: '\edb6'; } /* '' */
.icon-pause-outline:before { content: '\edb7'; } /* '' */
.icon-upload-outline:before { content: '\edb8'; } /* '' */
.icon-heart-filled:before { content: '\edb9'; } /* '' */
.icon-pen:before { content: '\edba'; } /* '' */
.icon-rewind:before { content: '\edbc'; } /* '' */
.icon-bat-charge:before { content: '\edbd'; } /* '' */
.icon-vimeo-circled-1:before { content: '\edbe'; } /* '' */
.icon-fast-fw-outline:before { content: '\edbf'; } /* '' */
.icon-calendar-outlilne:before { content: '\edc0'; } /* '' */
.icon-calculator:before { content: '\edc1'; } /* '' */
.icon-lastfm-2:before { content: '\edc2'; } /* '' */
.icon-lastfm-circled-1:before { content: '\edc3'; } /* '' */
.icon-mic-outline:before { content: '\edc4'; } /* '' */
.icon-skype-2:before { content: '\edc5'; } /* '' */
.icon-music-outline:before { content: '\edc6'; } /* '' */
.icon-info-2:before { content: '\edc7'; } /* '' */
.icon-eq:before { content: '\edc8'; } /* '' */
.icon-github-circled-2:before { content: '\edc9'; } /* '' */
.icon-lightbulb-1:before { content: '\edcc'; } /* '' */
.icon-reply-2:before { content: '\edcd'; } /* '' */
.icon-loop-outline:before { content: '\edce'; } /* '' */
.icon-users-outline:before { content: '\edcf'; } /* '' */
.icon-lock-open-2:before { content: '\edd0'; } /* '' */
.icon-basket-2:before { content: '\edd1'; } /* '' */
.icon-scissors-outline:before { content: '\edd2'; } /* '' */
.icon-stop-outline:before { content: '\edd3'; } /* '' */
.icon-fast-fw-1:before { content: '\edd4'; } /* '' */
.icon-puzzle-outline:before { content: '\edd5'; } /* '' */
.icon-print-2:before { content: '\edd6'; } /* '' */
.icon-power:before { content: '\edd7'; } /* '' */
.icon-looped-square-outline:before { content: '\edd8'; } /* '' */
.icon-eject-alt-outline:before { content: '\edd9'; } /* '' */
.icon-th-1:before { content: '\edda'; } /* '' */
.icon-pin-1:before { content: '\eddb'; } /* '' */
.icon-pin-outline:before { content: '\eddc'; } /* '' */
.icon-pi:before { content: '\eddd'; } /* '' */
.icon-phone-outline:before { content: '\edde'; } /* '' */
.icon-tumbler:before { content: '\eddf'; } /* '' */
.icon-th-list-1:before { content: '\ede0'; } /* '' */
.icon-attention-2:before { content: '\ede1'; } /* '' */
.icon-home-2:before { content: '\ede2'; } /* '' */
.icon-feather-1:before { content: '\ede3'; } /* '' */
.icon-doc-2:before { content: '\ede5'; } /* '' */
.icon-credit-card-2:before { content: '\ede6'; } /* '' */
.icon-camera-outline:before { content: '\ede7'; } /* '' */
.icon-calendar-2:before { content: '\ede8'; } /* '' */
.icon-brush-2:before { content: '\ede9'; } /* '' */
.icon-bat1:before { content: '\edea'; } /* '' */
.icon-right-outline:before { content: '\edec'; } /* '' */
.icon-left-small:before { content: '\eded'; } /* '' */
.icon-user-add-outline:before { content: '\edee'; } /* '' */
.icon-forward-outline:before { content: '\edef'; } /* '' */
.icon-anchor-outline:before { content: '\edf1'; } /* '' */
.icon-globe-2:before { content: '𝌍'; } /* '\1d30d' */
.icon-thumbs-up-2:before { content: '👍'; } /* '\1f44d' */
.icon-phone-2:before { content: '📞'; } /* '\1f4de' */
.icon-download-2:before { content: '📥'; } /* '\1f4e5' */
.icon-shuffle-2:before { content: '🔀'; } /* '\1f500' */
.icon-bookmark-2:before { content: '🔖'; } /* '\1f516' */