@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?9452891');
  src: url('../font/fontello.eot?9452891#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?9452891') format('woff2'),
       url('../font/fontello.woff?9452891') format('woff'),
       url('../font/fontello.ttf?9452891') format('truetype'),
       url('../font/fontello.svg?9452891#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?9452891#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-up-dir-2:before { content: '\25b4'; } /* '▴' */
.icon-left-dir-2:before { content: '\25c2'; } /* '◂' */
.icon-pencil-alt-1:before { content: '\2710'; } /* '✐' */
.icon-cw-4:before { content: '\27f3'; } /* '⟳' */
.icon-squares:before { content: '\29c9'; } /* '⧉' */
.icon-article-1:before { content: '\e734'; } /* '' */
.icon-article-alt-1:before { content: '\e735'; } /* '' */
.icon-basket-3:before { content: '\e73d'; } /* '' */
.icon-calendar-alt-1:before { content: '\e73e'; } /* '' */
.icon-resize-small-3:before { content: '\e746'; } /* '' */
.icon-zoom-in-2:before { content: '\e750'; } /* '' */
.icon-zoom-out-2:before { content: '\e751'; } /* '' */
.icon-signal-3:before { content: '\e770'; } /* '' */
.icon-chart-pie-4:before { content: '\e7a2'; } /* '' */
.icon-basket-alt:before { content: '\e7ae'; } /* '' */
.icon-mobile-alt:before { content: '\e7b0'; } /* '' */
.icon-tablet-2:before { content: '\e7b1'; } /* '' */
.icon-ipod:before { content: '\e7b2'; } /* '' */
.icon-stop-4:before { content: '\e7b3'; } /* '' */
.icon-grid:before { content: '\e7b4'; } /* '' */
.icon-easel:before { content: '\e7b5'; } /* '' */
.icon-eye-4:before { content: '\e80a'; } /* '' */
.icon-videocam-2:before { content: '\e813'; } /* '' */
.icon-thumbs-up-3:before { content: '\e823'; } /* '' */
.icon-download-4:before { content: '\e824'; } /* '' */
.icon-pencil-4:before { content: '\e826'; } /* '' */
.icon-edit-2:before { content: '\e827'; } /* '' */
.icon-print-3:before { content: '\e828'; } /* '' */
.icon-trash-4:before { content: '\e82c'; } /* '' */
.icon-doc-4:before { content: '\e82d'; } /* '' */
.icon-export-3:before { content: '\e840'; } /* '' */
.icon-down-4:before { content: '\ea10'; } /* '' */
.icon-up-4:before { content: '\ea15'; } /* '' */
.icon-at-3:before { content: '\ea59'; } /* '' */
.icon-youtube-1:before { content: '\eaa9'; } /* '' */
.icon-money-1:before { content: '\ebca'; } /* '' */
.icon-plus-4:before { content: '\ebd1'; } /* '' */
.icon-mail-4:before { content: '\ebf6'; } /* '' */
.icon-heart-4:before { content: '\ebf7'; } /* '' */
.icon-star-4:before { content: '\ebf8'; } /* '' */
.icon-ok-3:before { content: '\ebfa'; } /* '' */
.icon-home-4:before { content: '\ebff'; } /* '' */
.icon-colon:before { content: '\ec72'; } /* '' */
.icon-semicolon:before { content: '\ec73'; } /* '' */
.icon-info-4:before { content: '\ec74'; } /* '' */
.icon-question:before { content: '\ec76'; } /* '' */
.icon-th-2:before { content: '\ecb9'; } /* '' */
.icon-th-list-2:before { content: '\ecba'; } /* '' */
.icon-attention-3:before { content: '\ecc1'; } /* '' */
.icon-facebook-3:before { content: '\ecc2'; } /* '' */
.icon-twitter-3:before { content: '\ecc4'; } /* '' */
.icon-twitter-rect:before { content: '\ecd3'; } /* '' */
.icon-resize-full-4:before { content: '\ed60'; } /* '' */
.icon-facebook-rect:before { content: '\edfd'; } /* '' */
.icon-twitter-bird:before { content: '\edfe'; } /* '' */
.icon-user-4:before { content: '\ee27'; } /* '' */
.icon-cancel-4:before { content: '\ee2f'; } /* '' */
.icon-cancel-circle-1:before { content: '\ee30'; } /* '' */
.icon-lock-4:before { content: '\ee35'; } /* '' */
.icon-lock-open-4:before { content: '\ee36'; } /* '' */
.icon-tag-4:before { content: '\ee37'; } /* '' */
.icon-chat-4:before { content: '\ee3f'; } /* '' */
.icon-location-4:before { content: '\ee41'; } /* '' */
.icon-rss-4:before { content: '\ee46'; } /* '' */
.icon-clock-4:before { content: '\ee4a'; } /* '' */
.icon-popup-4:before { content: '\ee4e'; } /* '' */
.icon-down-dir-2:before { content: '\ee55'; } /* '' */
.icon-right-dir-2:before { content: '\ee56'; } /* '' */
.icon-globe-3:before { content: '🌐'; } /* '\1f310' */
.icon-video-alt:before { content: '🎦'; } /* '\1f3a6' */
.icon-award-2:before { content: '🏉'; } /* '\1f3c9' */
.icon-videocam-alt:before { content: '🏹'; } /* '\1f3f9' */
.icon-thumbs-down-3:before { content: '👎'; } /* '\1f44e' */
.icon-user-woman:before { content: '👩'; } /* '\1f469' */
.icon-user-pair:before { content: '👫'; } /* '\1f46b' */
.icon-dollar-1:before { content: '💵'; } /* '\1f4b5' */
.icon-cd-2:before { content: '💿'; } /* '\1f4bf' */
.icon-calendar-4:before { content: '📅'; } /* '\1f4c5' */
.icon-chart-1:before { content: '📈'; } /* '\1f4c8' */
.icon-chart-bar-4:before { content: '📊'; } /* '\1f4ca' */
.icon-book-3:before { content: '📕'; } /* '\1f4d5' */
.icon-bullhorn:before { content: '📣'; } /* '\1f4e3' */
.icon-mobile-4:before { content: '📱'; } /* '\1f4f1' */
.icon-camera-4:before { content: '📷'; } /* '\1f4f7' */
.icon-volume-off-3:before { content: '🔇'; } /* '\1f507' */
.icon-volume-down-1:before { content: '🔉'; } /* '\1f509' */
.icon-volume-up-2:before { content: '🔊'; } /* '\1f50a' */
.icon-search-4:before { content: '🔍'; } /* '\1f50d' */
.icon-bell-3:before { content: '🔔'; } /* '\1f514' */
.icon-wrench-3:before { content: '🔧'; } /* '\1f527' */
.icon-clock-alt:before { content: '🕓'; } /* '\1f553' */