[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-star-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe030;&nbsp;'); }
.icon-star-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe031;&nbsp;'); }
.icon-stackoverflow-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe032;&nbsp;'); }
.icon-volume-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe033;&nbsp;'); }
.icon-smiley-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe034;&nbsp;'); }
.icon-smiley { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe035;&nbsp;'); }
.icon-slideshare-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe036;&nbsp;'); }
.icon-skype-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe037;&nbsp;'); }
.icon-signal-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe038;&nbsp;'); }
.icon-basket-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe039;&nbsp;'); }
.icon-basket-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe03a;&nbsp;'); }
.icon-share-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe03b;&nbsp;'); }
.icon-export-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe03c;&nbsp;'); }
.icon-search-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe03d;&nbsp;'); }
.icon-search-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe03e;&nbsp;'); }
.icon-target-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe03f;&nbsp;'); }
.icon-desktop-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe040;&nbsp;'); }
.icon-desktop-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe041;&nbsp;'); }
.icon-rss-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe042;&nbsp;'); }
.icon-road-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe043;&nbsp;'); }
.icon-backward-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe044;&nbsp;'); }
.icon-retweet-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe045;&nbsp;'); }
.icon-resize-vertical-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe046;&nbsp;'); }
.icon-resize-small-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe047;&nbsp;'); }
.icon-resize-horizontal-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe048;&nbsp;'); }
.icon-resize-full-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe049;&nbsp;'); }
.icon-cw-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe04a;&nbsp;'); }
.icon-cw-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe04b;&nbsp;'); }
.icon-cancel-circled-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe04c;&nbsp;'); }
.icon-cancel-circled2-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe04d;&nbsp;'); }
.icon-cancel-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe04e;&nbsp;'); }
.icon-arrows-cw-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe04f;&nbsp;'); }
.icon-reddit-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe050;&nbsp;'); }
.icon-record-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe051;&nbsp;'); }
.icon-shuffle-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe052;&nbsp;'); }
.icon-quote-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe053;&nbsp;'); }
.icon-quote-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe054;&nbsp;'); }
.icon-help-circled-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe055;&nbsp;'); }
.icon-help-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe056;&nbsp;'); }
.icon-qrcode-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe057;&nbsp;'); }
.icon-print-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe058;&nbsp;'); }
.icon-plus-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe059;&nbsp;'); }
.icon-plus-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe05a;&nbsp;'); }
.icon-play-circled2-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe05b;&nbsp;'); }
.icon-play-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe05c;&nbsp;'); }
.icon-play-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe05d;&nbsp;'); }
.icon-flight-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe05e;&nbsp;'); }
.icon-pinterest-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe05f;&nbsp;'); }
.icon-picture-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe060;&nbsp;'); }
.icon-picasa-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe061;&nbsp;'); }
.icon-photo-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe062;&nbsp;'); }
.icon-photo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe063;&nbsp;'); }
.icon-phone-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe064;&nbsp;'); }
.icon-phone-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe065;&nbsp;'); }
.icon-person { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe066;&nbsp;'); }
.icon-pencil-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe067;&nbsp;'); }
.icon-pencil-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe068;&nbsp;'); }
.icon-pause-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe069;&nbsp;'); }
.icon-pause-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe06a;&nbsp;'); }
.icon-path { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe06b;&nbsp;'); }
.icon-attach-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe06c;&nbsp;'); }
.icon-attach-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe06d;&nbsp;'); }
.icon-ok-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe06e;&nbsp;'); }
.icon-ok-circled2-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe06f;&nbsp;'); }
.icon-ok-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe070;&nbsp;'); }
.icon-off-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe071;&nbsp;'); }
.icon-network-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe072;&nbsp;'); }
.icon-music-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe073;&nbsp;'); }
.icon-move-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe074;&nbsp;'); }
.icon-minus-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe075;&nbsp;'); }
.icon-minus-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe076;&nbsp;'); }
.icon-mic-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe077;&nbsp;'); }
.icon-mic-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe078;&nbsp;'); }
.icon-location-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe079;&nbsp;'); }
.icon-location-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe07a;&nbsp;'); }
.icon-male-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe07b;&nbsp;'); }
.icon-magnet-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe07c;&nbsp;'); }
.icon-lock-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe07d;&nbsp;'); }
.icon-lock-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe07e;&nbsp;'); }
.icon-clipboard-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe07f;&nbsp;'); }
.icon-list-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe080;&nbsp;'); }
.icon-linkedin-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe081;&nbsp;'); }
.icon-leaf-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe082;&nbsp;'); }
.icon-laptop-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe083;&nbsp;'); }
.icon-laptop-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe084;&nbsp;'); }
.icon-key-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe085;&nbsp;'); }
.icon-italic-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe086;&nbsp;'); }
.icon-iphone-home { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe087;&nbsp;'); }
.icon-instagram-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe088;&nbsp;'); }
.icon-info-circled-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe089;&nbsp;'); }
.icon-indent-right-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe08a;&nbsp;'); }
.icon-indent-left-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe08b;&nbsp;'); }
.icon-right-hand-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe08c;&nbsp;'); }
.icon-left-hand-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe08d;&nbsp;'); }
.icon-down-hand-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe08e;&nbsp;'); }
.icon-guidedog { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe08f;&nbsp;'); }
.icon-group-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe090;&nbsp;'); }
.icon-group { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe091;&nbsp;'); }
.icon-forward-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe092;&nbsp;'); }
.icon-forward-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe093;&nbsp;'); }
.icon-fontsize-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe094;&nbsp;'); }
.icon-font-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe095;&nbsp;'); }
.icon-folder-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe096;&nbsp;'); }
.icon-folder-open-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe097;&nbsp;'); }
.icon-female-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe098;&nbsp;'); }
.icon-fast-forward-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe099;&nbsp;'); }
.icon-fast-backward-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe09a;&nbsp;'); }
.icon-videocam-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe09b;&nbsp;'); }
.icon-facebook-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe09c;&nbsp;'); }
.icon-eye-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe09d;&nbsp;'); }
.icon-gauge-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe09e;&nbsp;'); }
.icon-css { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe09f;&nbsp;'); }
.icon-credit-card-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0a0;&nbsp;'); }
.icon-compass-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0a1;&nbsp;'); }
.icon-compass-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0a2;&nbsp;'); }
.icon-comment-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0a3;&nbsp;'); }
.icon-down-open-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0a4;&nbsp;'); }
.icon-check-empty-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0a5;&nbsp;'); }
.icon-check-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0a6;&nbsp;'); }
.icon-certificate-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0a7;&nbsp;'); }
.icon-cc-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0a8;&nbsp;'); }
.icon-camera-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0a9;&nbsp;'); }
.icon-block-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0aa;&nbsp;'); }
.icon-backward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ab;&nbsp;'); }
.icon-asterisk-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ac;&nbsp;'); }
.icon-asl { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ad;&nbsp;'); }
.icon-up-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ae;&nbsp;'); }
.icon-right-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0af;&nbsp;'); }
.icon-heart-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0b0;&nbsp;'); }
.icon-heart-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0b1;&nbsp;'); }
.icon-hearing-impaired { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0b2;&nbsp;'); }
.icon-headphones-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0b3;&nbsp;'); }
.icon-hdd-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0b4;&nbsp;'); }
.icon-up-hand-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0b5;&nbsp;'); }
.icon-github-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0b6;&nbsp;'); }
.icon-gift-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0b7;&nbsp;'); }
.icon-resize-full-alt-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0b8;&nbsp;'); }
.icon-friendfeed-rect-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0b9;&nbsp;'); }
.icon-friendfeed-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ba;&nbsp;'); }
.icon-foursquare-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0bb;&nbsp;'); }
.icon-doc-new-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0bc;&nbsp;'); }
.icon-doc-new { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0bd;&nbsp;'); }
.icon-edit-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0be;&nbsp;'); }
.icon-edit-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0bf;&nbsp;'); }
.icon-doc-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0c0;&nbsp;'); }
.icon-doc-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0c1;&nbsp;'); }
.icon-dribbble-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0c2;&nbsp;'); }
.icon-download-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0c3;&nbsp;'); }
.icon-download-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0c4;&nbsp;'); }
.icon-digg-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0c5;&nbsp;'); }
.icon-deviantart-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0c6;&nbsp;'); }
.icon-delicious-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0c7;&nbsp;'); }
.icon-left-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0c8;&nbsp;'); }
.icon-down-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0c9;&nbsp;'); }
.icon-child-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ca;&nbsp;'); }
.icon-up-open-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0cb;&nbsp;'); }
.icon-right-open-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0cc;&nbsp;'); }
.icon-left-open-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0cd;&nbsp;'); }
.icon-bold-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ce;&nbsp;'); }
.icon-blogger-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0cf;&nbsp;'); }
.icon-blind-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0d0;&nbsp;'); }
.icon-bell-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0d1;&nbsp;'); }
.icon-behance-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0d2;&nbsp;'); }
.icon-barcode-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0d3;&nbsp;'); }
.icon-left-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0d4;&nbsp;'); }
.icon-down-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0d5;&nbsp;'); }
.icon-align-right-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0d6;&nbsp;'); }
.icon-align-left-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0d7;&nbsp;'); }
.icon-align-justify-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0d8;&nbsp;'); }
.icon-align-center-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0d9;&nbsp;'); }
.icon-adult { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0da;&nbsp;'); }
.icon-adjust-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0db;&nbsp;'); }
.icon-address-book-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0dc;&nbsp;'); }
.icon-address-book-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0dd;&nbsp;'); }
.icon-lightbulb-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0de;&nbsp;'); }
.icon-home-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0df;&nbsp;'); }
.icon-home-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0e0;&nbsp;'); }
.icon-heart-empty-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0e1;&nbsp;'); }
.icon-globe-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0e2;&nbsp;'); }
.icon-glasses { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0e3;&nbsp;'); }
.icon-glass-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0e4;&nbsp;'); }
.icon-github-text-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0e5;&nbsp;'); }
.icon-flag-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0e6;&nbsp;'); }
.icon-fire-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0e7;&nbsp;'); }
.icon-filter-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0e8;&nbsp;'); }
.icon-video-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0e9;&nbsp;'); }
.icon-mail-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ea;&nbsp;'); }
.icon-mail-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0eb;&nbsp;'); }
.icon-eject-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ec;&nbsp;'); }
.icon-edit-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ed;&nbsp;'); }
.icon-cloud-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ee;&nbsp;'); }
.icon-cloud-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ef;&nbsp;'); }
.icon-up-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0f0;&nbsp;'); }
.icon-right-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0f1;&nbsp;'); }
.icon-braille-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0f2;&nbsp;'); }
.icon-bookmark-empty-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0f3;&nbsp;'); }
.icon-bookmark-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0f4;&nbsp;'); }
.icon-book-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0f5;&nbsp;'); }
.icon-inbox-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0f6;&nbsp;'); }
.icon-inbox-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0f7;&nbsp;'); }
.icon-inbox-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0f8;&nbsp;'); }
.icon-lightbulb-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0f9;&nbsp;'); }
.icon-chart-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0fa;&nbsp;'); }
.icon-chart-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0fb;&nbsp;'); }
.icon-googleplus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0fc;&nbsp;'); }
.icon-globe-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0fd;&nbsp;'); }
.icon-folder-close { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0fe;&nbsp;'); }
.icon-folder-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ff;&nbsp;'); }
.icon-flickr-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe100;&nbsp;'); }
.icon-flag-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe101;&nbsp;'); }
.icon-eye-off-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe102;&nbsp;'); }
.icon-exclamation { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe103;&nbsp;'); }
.icon-error-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe104;&nbsp;'); }
.icon-error { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe105;&nbsp;'); }
.icon-comment-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe106;&nbsp;'); }
.icon-cogs { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe107;&nbsp;'); }
.icon-cog-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe108;&nbsp;'); }
.icon-cog-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe109;&nbsp;'); }
.icon-calendar-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe10a;&nbsp;'); }
.icon-calendar-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe10b;&nbsp;'); }
.icon-megaphone-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe10c;&nbsp;'); }
.icon-briefcase-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe10d;&nbsp;'); }
.icon-vkontakte-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe10e;&nbsp;'); }
.icon-th-list-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec54;&nbsp;'); }
.icon-warning-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec55;&nbsp;'); }
.icon-tumblr-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec56;&nbsp;'); }
.icon-zoom-out-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec57;&nbsp;'); }
.icon-youtube-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec58;&nbsp;'); }
.icon-website-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec59;&nbsp;'); }
.icon-volume-up-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec5e;&nbsp;'); }
.icon-trash-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec64;&nbsp;'); }
.icon-tag-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec66;&nbsp;'); }
.icon-volume-down-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec67;&nbsp;'); }
.icon-user-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec75;&nbsp;'); }
.icon-volume-off-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec90;&nbsp;'); }
.icon-trash-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec91;&nbsp;'); }
.icon-view-mode { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec92;&nbsp;'); }
.icon-upload-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec93;&nbsp;'); }
.icon-video-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec94;&nbsp;'); }
.icon-lock-open-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec95;&nbsp;'); }
.icon-accessibility { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec96;&nbsp;'); }
.icon-w3c-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec99;&nbsp;'); }
.icon-clock-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec9a;&nbsp;'); }
.icon-stop-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec9b;&nbsp;'); }
.icon-wrench-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec9c;&nbsp;'); }
.icon-tint-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec9d;&nbsp;'); }
.icon-vimeo-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec9e;&nbsp;'); }
.icon-video-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca0;&nbsp;'); }
.icon-universal-access-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca1;&nbsp;'); }
.icon-step-forward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca2;&nbsp;'); }
.icon-lock-open-alt-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca3;&nbsp;'); }
.icon-star-empty-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca4;&nbsp;'); }
.icon-zoom-in-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca5;&nbsp;'); }
.icon-clock-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca6;&nbsp;'); }
.icon-tags-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca7;&nbsp;'); }
.icon-th-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca8;&nbsp;'); }
.icon-th-large-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeca9;&nbsp;'); }
.icon-thumbs-down-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecaa;&nbsp;'); }
.icon-website { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecab;&nbsp;'); }
.icon-text-width-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecac;&nbsp;'); }
.icon-step-backward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecad;&nbsp;'); }
.icon-thumbs-up-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecae;&nbsp;'); }
.icon-text-height-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecaf;&nbsp;'); }
.icon-stumbleupon-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb0;&nbsp;'); }
.icon-video-chat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb1;&nbsp;'); }
.icon-tasks-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb2;&nbsp;'); }
.icon-stop-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xecb3;&nbsp;'); }
.icon-wordpress-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedf8;&nbsp;'); }
.icon-twitter-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee05;&nbsp;'); }
.icon-torso { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee06;&nbsp;'); }
.icon-wrench-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee0d;&nbsp;'); }