/***************************************
    Basics
 ***************************************/

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box
}
h1, h2, h3 ,h4 , h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 3rem;
  margin: 0 0 20px 0;
}
h2 {
  font-weight: 600;
}
h3 {
  font-weight: 600;
}
body {
  margin: 0;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  background-color: #f5f5f5;
  font-family: "Courier New", serif;
  padding: 0 5px;
  border-radius: 5px;
}



/***************************************
    Loader
 ***************************************/


.eg-loader-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  .eg-loader {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    transition: .2s;
    max-width: 20px;
    &.hidden {
      max-width: 0;
    }
    .eg-loader-inside {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      border: 2px solid rgba(#000,.1);
      border-radius: 50%;
      border-top: 2px solid rgba(#000,.5);
      width: 20px;
      height: 20px;
      animation: spin 1s linear infinite;
    }
    &.white {
      .eg-loader-inside {
        border: 2px solid rgba(#FFF,.2);
        border-top: 2px solid #FFF;
      }
    }
  }
  @keyframes spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
}

/***************************************
    Styling
 ***************************************/

$black: #333;

.page-navbar {
  background-color: var(--color-primary);
  color: #eee;
  padding: 15px 10px;
}

.page-footer {
  background-color: #333;
  color: #eee;
  padding: 15px 10px;
}

.main-wrapper {
  flex: 1;
  display: flex;
  align-items: stretch;
  padding: 40px 0;
  .main-page {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 5fr;
    max-width: 1264px;
    margin: 0 auto;
    padding: 0 20px;
    h2 {
      margin-top: 40px;
      position: relative;
      margin-left: 25px;
      &::after {
        content: '◾';
        position: absolute;
        left: -25px;
        color: rgba(0,0,0,.2);
      }
    }
    .left-panel {
      border-right: 1px solid #CCC;
      padding-right: 20px;
      .left-menu {
        top: 20px;
        position: sticky;
        a {
          display: inline-block;
          width: 100%;
          padding: 15px 30px;
          text-align: left;
          background-color: rgba(0,0,0,.05);
          cursor: pointer;
          text-decoration: none;
          font-size: 1rem;
          color: $black;
          margin-bottom: 5px;
          &:hover {
            background-color: rgba(0,0,0,.08);
          }
          &.router-link-exact-active {
            border-left: 3px solid rgba(0,0,0,.2);
          }
        }
      }
    }
    .right-panel {
      padding-left: 50px;
      text-align: left;
    }
  }
}

.classic-ul {
  li {
    margin-bottom: 10px;
  }
}