:root {
  /*
   *    Colors
   */
  --rgb-primary: 69, 100, 143;
  --rgb-secondary: 69, 78, 94;
  --rgb-ternary: 205, 184, 169;

  --rgb-black: 18, 18, 18;
  --rgb-white: 245, 245, 245;
  --rgb-gray: 42, 42, 42;
  --rgb-gray-2: 67, 67, 67;
  --rgb-gray-3: 144, 144, 144;
  --rgb-gray-4: 169, 169, 169;
  --rgb-gray-5: 195, 195, 195;
  --rgb-gray-6: 235, 235, 235;
  --rgb-gray-7: 242, 242, 242;

  --rgb-error: 156, 39, 39;
  --rgb-warning: 214, 109, 2;
  --rgb-valid: 82, 162, 44;

  --color-primary: rgb(var(--rgb-primary));
  --color-secondary: rgb(var(--rgb-secondary));
  --color-ternary: rgb(var(--rgb-ternary));

  --color-black: rgb(var(--rgb-black));
  --color-gray: rgb(var(--rgb-gray));
  --color-gray-2: rgb(var(--rgb-gray-2));
  --color-gray-3: rgb(var(--rgb-gray-3));
  --color-gray-4: rgb(var(--rgb-gray-4));
  --color-gray-5: rgb(var(--rgb-gray-5));
  --color-gray-6: rgb(var(--rgb-gray-6));
  --color-gray-7: rgb(var(--rgb-gray-7));
  --color-white: rgb(var(--rgb-white));

  --color-error: rgb(var(--rgb-error));
  --color-warning: rgb(var(--rgb-warning));
  --color-valid: rgb(var(--rgb-valid));

  /*
   *    Inputs
   */
  // Boxing
  --border-radius: 3px;
  --border: 1px solid var(--color-gray-5);
  --font-size: 1rem;
  --v-padding: 0.5em;
  --h-padding: 0.8em;
  --padding: var(--v-padding) var(--h-padding);
  --icon-width: 2em;

  // Pill
  --light-bg: #f5f5f5;
  --light-bs: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  --lighter-bs: 0 0 0 .2rem var(--color-6);
  --box-shadow: 0 0 0 .2rem rgba(0,0,0,0.05);

  --file-pic-size: 28px;
  --button-width: 1.6em;
  --file-height: 40px;
  --n-h-padding: var(--h-padding) + 1em;

  /*
   *    Tooltip // Dark theme
   */
  --tooltip-bg: #fff; // #111
  --tooltip-color: #777; // #CCC
  --tooltip-font-size: 0.8rem;
  --tooltip-line-height: 1rem;
  --tooltip-shadow: 0 2px 2px 0 rgba(0,0,0,0.05); //  0 0 5px 5px rgba(0,0,0,.0)
  --tooltip-border: 1px solid #eee; // 1px solid #000

  /*
   *    Popover
   */
  --popover-arrow-size: 5px;
  --popover-bg: var(--tooltip-bg);
  --popover-color: var(--tooltip-color);
  --popover-font-size: var(--tooltip-font-size);
  --popover-line-height: var(--tooltip-line-height);
  --popover-shadow: var(--tooltip-shadow);
  --popover-border: var(--tooltip-border);

  /*
   *    Modal
   */
  --modal-shadow-color: rgba(0, 0, 0, .5);
  --modal-bg: #fff;
  --modal-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  --modal-border: none;

  --modal-resp-medium: 960px;
  --modal-resp-mini: 450px;

  --modal-default-width: 70%; // width
  --modal-default-max-width: 800px; // max-width
  --modal-small-width: 60%;
  --modal-small-max-width: 580px;
  --modal-medium-width: 65%;
  --modal-medium-max-width: 800px;
  --modal-big-width: calc(100vw - 10em);
  --modal-big-max-width: 1300px;

  /*
   *    Sidemenu
   */
  --sidemenu-bg: #FFF;
  --sidemenu-shadow-bg: #222;
  --sidemenu-touch-bg: transparent;

  /*
   *    Action Message
   */
  --action-message-bg: rgba(0,0,0,0.8);
  --action-message-padding: 10px 15px;
  --action-message-color: #f5f5f5;
  --action-message-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

  /*
   *    Buttons
   */
  --btn-default-padding: 0.625em 1.4em;
  --btn-default-font-size: 1rem;
  --btn-small-padding-v: 0.417em;
  --btn-small-padding-h: 1.4em;
  --btn-small-padding: var(--btn-small-padding-v) var(--btn-small-padding-h);
  --btn-small-font-size: 0.75rem;
  --btn-big-padding: 0.675em 1.5em;
  --btn-big-font-size: 1.3rem;
  --btn-thin-padding: 0.3em 0.7em;
  --btn-fat-padding: 1em 2.5em;
  --btn-round-radius: 20px;
  --btn-empty-padding: 0.334em;

  // default
  --btn-default-color: var(--color-black); // color
  --btn-default-bg: var(--color-gray-6);
  --btn-default-border: 1px solid var(--color-gray-5);
  --btn-default-shadow: 0 0 .1rem .2rem rgba(var(--rgb-gray-4),0.2); // box shadow
  --btn-default-border-hover: 1px solid var(--color-gray-4); // hover border (70%)
  --btn-default-border-focus: 1px solid var(--color-gray-3); // focus border (60%)

  // primary
  --btn-primary-color: var(--color-white);
  --btn-primary-bg: var(--color-primary);
  --btn-primary-border: 1px solid var(--color-primary);
  --btn-primary-shadow: 0 0 0 .2rem rgba(var(--rgb-primary), 0.2);
  --btn-primary-border-hover: 1px solid rgba(var(--rgb-primary), 0.1);
  --btn-primary-border-focus: 1px solid rgba(var(--rgb-primary), 0.2);

  // secondary
  --btn-secondary-color: var(--color-white);
  --btn-secondary-bg: var(--color-secondary);
  --btn-secondary-border: 1px solid var(--color-secondary);
  --btn-secondary-shadow: 0 0 0 .2rem rgba(var(--rgb-secondary), 0.2);
  --btn-secondary-border-hover: 1px solid rgba(var(--rgb-secondary), 0.1);
  --btn-secondary-border-focus: 1px solid rgba(var(--rgb-secondary), 0.2);

  // ternary
  --btn-ternary-color: var(--color-black);
  --btn-ternary-bg: var(--color-ternary);
  --btn-ternary-border: 1px solid var(--color-ternary);
  --btn-ternary-shadow: 0 0 0 .2rem rgba(var(--rgb-ternary), 0.2);
  --btn-ternary-border-hover: 1px solid rgba(var(--rgb-ternary), 0.1);
  --btn-ternary-border-focus: 1px solid rgba(var(--rgb-ternary), 0.2);

  // light
  --btn-light-color: var(--color-gray-3);
  --btn-light-bg: var(--color-gray-6);
  --btn-light-border: 1px solid var(--color-gray-6);
  --btn-light-shadow: 0 0 0 .2rem rgba(var(--rgb-gray-6), 0.3);
  --btn-light-border-hover: var(--btn-light-border);
  --btn-light-border-focus: var(--btn-light-border);

  // dark
  --btn-dark-color: var(--color-gray-5);
  --btn-dark-bg: var(--color-gray);
  --btn-dark-border: 1px solid var(--color-gray-6);
  --btn-dark-shadow: 0 0 0 .2rem rgba(var(--rgb-gray), 0.2);
  --btn-dark-border-hover: var(--btn-dark-border);
  --btn-dark-border-focus: var(--btn-dark-border);

  // transparent
  --btn-transparent-color: var(--color-gray-3);
  --btn-transparent-bg: transparent;
  --btn-transparent-border: 1px solid var(--color-gray-5);
  --btn-transparent-shadow: 0 0 .1rem .2rem rgba(var(--rgb-gray-4),0.2);
  --btn-transparent-border-hover: 1px solid var(--color-gray-4);
  --btn-transparent-border-focus: 1px solid var(--color-gray-3);

  // thick
  --btn-thick-color: var(--color-black);
  --btn-thick-bg: #ebebeb;
  --btn-thick-border: 2px solid rgba(var(--rgb-gray-5));
  --btn-thick-shadow: 0 0 .1rem .2rem rgba(196,196,196,0.2);
  --btn-thick-border-hover: 2px solid rgba(var(--rgb-gray-4));
  --btn-thick-border-focus: 2px solid rgba(var(--rgb-gray-3));

  // warning
  --btn-warning-color: var(--color-white);
  --btn-warning-bg: var(--color-warning);
  --btn-warning-border: 1px solid var(--color-warning);
  --btn-warning-shadow: 0 0 0 .2rem rgba(var(--rgb-warning), 0.2);
  --btn-warning-border-hover: 1px solid rgba(var(--rgb-warning), 0.1);
  --btn-warning-border-focus: 1px solid rgba(var(--rgb-warning), 0.2);

  // valid
  --btn-valid-color: var(--color-white);
  --btn-valid-bg: var(--color-valid);
  --btn-valid-border: 1px solid var(--color-valid);
  --btn-valid-shadow: 0 0 0 .2rem rgba(var(--rgb-valid), 0.2);
  --btn-valid-border-hover: 1px solid rgba(var(--rgb-valid), 0.1);
  --btn-valid-border-focus: 1px solid rgba(var(--rgb-valid), 0.2);

  // error
  --btn-error-color: var(--color-white);
  --btn-error-bg: var(--color-error);
  --btn-error-border: 1px solid var(--color-error);
  --btn-error-shadow: 0 0 0 .2rem rgba(var(--rgb-error), 0.2);
  --btn-error-border-hover: 1px solid rgba(var(--rgb-error), 0.1);
  --btn-error-border-focus: 1px solid rgba(var(--rgb-error), 0.2);

}