:root {
  /*
  *   Inputs
  */
  --color: #2A2A2A;
  --color-2: #434343;
  --color-3: #909090;
  --color-4: #a9a9a9;
  --color-5: #c3c3c3;
  --color-6: #f6f6f6;

  --active-color: #315c9f;
  --light-active-color: rgba(49,92,159,0.3);
  --error-color: #9C2727;

  // Boxing
  --border-radius: 3px;
  --border: 1px solid var(--color-5);
  --font-size: 1rem;
  --v-padding: 0.5em;
  --h-padding: 0.8em;
  --padding: var(--v-padding) var(--h-padding);

  // Pill
  --light-bg: #f5f5f5;
  --light-bs: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  --lighter-bs: 0 0 0 .2rem var(--color-6);
  --box-shadow: 0 0 0 .2rem rgba(0,0,0,0.05);

  --file-pic-size: 28px;
  --button-width: 1.6em;
  --file-height: 40px;
  --n-h-padding: var(--h-padding) + 1em;
}