@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?80853515');
  src: url('../font/fontello.eot?80853515#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?80853515') format('woff2'),
       url('../font/fontello.woff?80853515') format('woff'),
       url('../font/fontello.ttf?80853515') format('truetype'),
       url('../font/fontello.svg?80853515#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?80853515#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-brush-1:before { content: '\33'; } /* '3' */
.icon-paper-plane-1:before { content: '\34'; } /* '4' */
.icon-minus-squared-1:before { content: '\21b3'; } /* '↳' */
.icon-back:before { content: '\23e9'; } /* '⏩' */
.icon-bookmarks:before { content: '\23ea'; } /* '⏪' */
.icon-user-add:before { content: '\23f3'; } /* '⏳' */
.icon-link-1:before { content: '\2605'; } /* '★' */
.icon-home-1:before { content: '\2661'; } /* '♡' */
.icon-users-1:before { content: '\266a'; } /* '♪' */
.icon-trash-1:before { content: '\2699'; } /* '⚙' */
.icon-login-1:before { content: '\26c8'; } /* '⛈' */
.icon-publish:before { content: '\2707'; } /* '✇' */
.icon-eye-1:before { content: '\2713'; } /* '✓' */
.icon-tag-1:before { content: '\2714'; } /* '✔' */
.icon-list-add:before { content: '\e4a2'; } /* '' */
.icon-rss-1:before { content: '\e4a3'; } /* '' */
.icon-lock-open-1:before { content: '\e708'; } /* '' */
.icon-chart-line-1:before { content: '\e713'; } /* '' */
.icon-cd:before { content: '\e714'; } /* '' */
.icon-doc-text-1:before { content: '\e722'; } /* '' */
.icon-chat-1:before { content: '\e730'; } /* '' */
.icon-minus-circled-1:before { content: '\e73a'; } /* '' */
.icon-compass-1:before { content: '\e73b'; } /* '' */
.icon-music-1:before { content: '\e740'; } /* '' */
.icon-github-1:before { content: '\e741'; } /* '' */
.icon-flashlight:before { content: '\e742'; } /* '' */
.icon-upload-cloud-1:before { content: '\e74c'; } /* '' */
.icon-cancel-squared:before { content: '\e74d'; } /* '' */
.icon-plus-squared-1:before { content: '\e74f'; } /* '' */
.icon-down-open-1:before { content: '\e752'; } /* '' */
.icon-right-circled-1:before { content: '\e753'; } /* '' */
.icon-docs-1:before { content: '\e755'; } /* '' */
.icon-up-open-big:before { content: '\e756'; } /* '' */
.icon-down-1:before { content: '\e757'; } /* '' */
.icon-book-open:before { content: '\e75e'; } /* '' */
.icon-shareable:before { content: '\e760'; } /* '' */
.icon-github-circled-1:before { content: '\e761'; } /* '' */
.icon-flickr-1:before { content: '\e762'; } /* '' */
.icon-tumblr-1:before { content: '\e763'; } /* '' */
.icon-keyboard-1:before { content: '\e768'; } /* '' */
.icon-alert:before { content: '\e76a'; } /* '' */
.icon-address:before { content: '\e76b'; } /* '' */
.icon-tools:before { content: '\e776'; } /* '' */
.icon-bag:before { content: '\e778'; } /* '' */
.icon-volume:before { content: '\e789'; } /* '' */
.icon-light-up:before { content: '\e78b'; } /* '' */
.icon-adjust-1:before { content: '\e78c'; } /* '' */
.icon-light-down:before { content: '\e78e'; } /* '' */
.icon-left-1:before { content: '\e790'; } /* '' */
.icon-up-1:before { content: '\e791'; } /* '' */
.icon-right-1:before { content: '\e792'; } /* '' */
.icon-newspaper-1:before { content: '\e794'; } /* '' */
.icon-down-bold:before { content: '\e7a5'; } /* '' */
.icon-share-1:before { content: '\e7a8'; } /* '' */
.icon-infinity:before { content: '\e7a9'; } /* '' */
.icon-help-circled-1:before { content: '\e816'; } /* '' */
.icon-language-1:before { content: '\e816'; } /* '' */
.icon-info-circled-1:before { content: '\e819'; } /* '' */
.icon-droplet:before { content: '\e819'; } /* '' */
.icon-flag-1:before { content: '\e81c'; } /* '' */
.icon-flow-cascade:before { content: '\e81c'; } /* '' */
.icon-note:before { content: '\e872'; } /* '' */
.icon-network:before { content: '\e872'; } /* '' */
.icon-heart-1:before { content: '\e878'; } /* '' */
.icon-cc-share:before { content: '\e878'; } /* '' */
.icon-phone-1:before { content: '\e8f7'; } /* '' */
.icon-back-in-time:before { content: '\e8f7'; } /* '' */
.icon-shuffle-1:before { content: '\e906'; } /* '' */
.icon-clipboard:before { content: '\e906'; } /* '' */
.icon-cog-1:before { content: '\e989'; } /* '' */
.icon-monitor:before { content: '\e989'; } /* '' */
.icon-clock-1:before { content: '\e995'; } /* '' */
.icon-lifebuoy-1:before { content: '\e995'; } /* '' */
.icon-block-1:before { content: '\e997'; } /* '' */
.icon-dot-3:before { content: '\e997'; } /* '' */
.icon-cw-1:before { content: '\e99e'; } /* '' */
.icon-cc-remix:before { content: '\e99e'; } /* '' */
.icon-play-1:before { content: '\e9a7'; } /* '' */
.icon-pause-1:before { content: '\e9aa'; } /* '' */
.icon-cloud-1:before { content: '\e9aa'; } /* '' */
.icon-to-start-1:before { content: '\e9ab'; } /* '' */
.icon-to-end-1:before { content: '\e9ac'; } /* '' */
.icon-target-1:before { content: '\e9ae'; } /* '' */
.icon-flash-1:before { content: '\e9c6'; } /* '' */
.icon-chart-bar-1:before { content: '\e9ca'; } /* '' */
.icon-key-1:before { content: '\e9ce'; } /* '' */
.icon-thumbs-down-1:before { content: '\e9d9'; } /* '' */
.icon-flow-branch:before { content: '\e9d9'; } /* '' */
.icon-bell-1:before { content: '\e9db'; } /* '' */
.icon-level-up-1:before { content: '\e9db'; } /* '' */
.icon-attention-1:before { content: '\e9dc'; } /* '' */
.icon-switch:before { content: '\e9dc'; } /* '' */
.icon-basket-1:before { content: '\e9e0'; } /* '' */
.icon-inbox-1:before { content: '\e9e0'; } /* '' */
.icon-calendar-1:before { content: '\e9e2'; } /* '' */
.icon-globe-1:before { content: '\e9e2'; } /* '' */
.icon-bookmark-1:before { content: '\e9e3'; } /* '' */
.icon-bucket:before { content: '\e9e3'; } /* '' */
.icon-mute-1:before { content: '\e9e5'; } /* '' */
.icon-flight-1:before { content: '\e9e5'; } /* '' */
.icon-thumbs-up-1:before { content: '\e9e6'; } /* '' */
.icon-flow-tree:before { content: '\e9e6'; } /* '' */
.icon-sound:before { content: '\e9e8'; } /* '' */
.icon-leaf-1:before { content: '\e9e8'; } /* '' */
.icon-download-1:before { content: '\e9e9'; } /* '' */
.icon-cc-1:before { content: '\e9e9'; } /* '' */
.icon-megaphone-1:before { content: '\e9ea'; } /* '' */
.icon-resize-full-1:before { content: '\e9ed'; } /* '' */
.icon-magnet-1:before { content: '\e9ed'; } /* '' */
.icon-list-1:before { content: '\e9ee'; } /* '' */
.icon-mobile-1:before { content: '\e9ee'; } /* '' */
.icon-resize-small-1:before { content: '\e9ef'; } /* '' */
.icon-erase:before { content: '\e9ef'; } /* '' */
.icon-video-1:before { content: '\e9f1'; } /* '' */
.icon-chart-pie-1:before { content: '\e9f1'; } /* '' */
.icon-left-dir-1:before { content: '\e9f2'; } /* '' */
.icon-flow-line:before { content: '\e9f2'; } /* '' */
.icon-up-dir-1:before { content: '\e9f3'; } /* '' */
.icon-rocket-1:before { content: '\e9f3'; } /* '' */
.icon-down-thin:before { content: '\e9f4'; } /* '' */
.icon-cc-nd:before { content: '\e9f4'; } /* '' */
.icon-cancel-1:before { content: '\e9f5'; } /* '' */
.icon-up-thin:before { content: '\e9f5'; } /* '' */
.icon-pencil-1:before { content: '\e9f6'; } /* '' */
.icon-ccw-1:before { content: '\e9f6'; } /* '' */
.icon-book-1:before { content: '\ea00'; } /* '' */
.icon-trophy:before { content: '\ea00'; } /* '' */
.icon-plus-circled-1:before { content: '\ea1f'; } /* '' */
.icon-left-thin:before { content: '\ea1f'; } /* '' */
.icon-right-thin:before { content: '\ea21'; } /* '' */
.icon-mic-1:before { content: '\ea25'; } /* '' */
.icon-moon-1:before { content: '\ea25'; } /* '' */
.icon-minus-1:before { content: '\ea46'; } /* '' */
.icon-chart-area-1:before { content: '\ea46'; } /* '' */
.icon-loop:before { content: '\ea52'; } /* '' */
.icon-install:before { content: '\ea96'; } /* '' */
.icon-cloud-thunder:before { content: '\eaa6'; } /* '' */
.icon-mouse:before { content: '\eaa7'; } /* '' */
.icon-briefcase-1:before { content: '\eaa8'; } /* '' */
.icon-tape:before { content: '\eab0'; } /* '' */
.icon-graduation-cap-1:before { content: '\eab6'; } /* '' */
.icon-mail-1:before { content: '\ead8'; } /* '' */
.icon-suitcase-1:before { content: '\ead8'; } /* '' */
.icon-heart-empty-1:before { content: '\eada'; } /* '' */
.icon-dot-2:before { content: '\eada'; } /* '' */
.icon-star-1:before { content: '\eadb'; } /* '' */
.icon-ticket-1:before { content: '\eadb'; } /* '' */
.icon-user-1:before { content: '\eadc'; } /* '' */
.icon-water:before { content: '\eadc'; } /* '' */
.icon-gauge-1:before { content: '\eade'; } /* '' */
.icon-traffic-cone:before { content: '\eadf'; } /* '' */
.icon-check-1:before { content: '\eae0'; } /* '' */
.icon-credit-card-1:before { content: '\eae0'; } /* '' */
.icon-cancel-circled-1:before { content: '\eae3'; } /* '' */
.icon-left-bold:before { content: '\eae3'; } /* '' */
.icon-plus-1:before { content: '\eae4'; } /* '' */
.icon-right-bold:before { content: '\eae4'; } /* '' */
.icon-level-down-1:before { content: '\eae7'; } /* '' */
.icon-help-1:before { content: '\eae8'; } /* '' */
.icon-stop-1:before { content: '\eae8'; } /* '' */
.icon-info-1:before { content: '\eae9'; } /* '' */
.icon-record:before { content: '\eae9'; } /* '' */
.icon-fast-forward:before { content: '\eaea'; } /* '' */
.icon-fast-backward:before { content: '\eaeb'; } /* '' */
.icon-progress-0:before { content: '\eaec'; } /* '' */
.icon-lock-1:before { content: '\eaed'; } /* '' */
.icon-progress-1:before { content: '\eaed'; } /* '' */
.icon-progress-2:before { content: '\eaef'; } /* '' */
.icon-progress-3:before { content: '\eaf2'; } /* '' */
.icon-palette:before { content: '\eaf3'; } /* '' */
.icon-export-1:before { content: '\eaf6'; } /* '' */
.icon-battery:before { content: '\eaf6'; } /* '' */
.icon-floppy-1:before { content: '\eaf8'; } /* '' */
.icon-quote:before { content: '\eafa'; } /* '' */
.icon-comment-1:before { content: '\eb01'; } /* '' */
.icon-database-1:before { content: '\eb01'; } /* '' */
.icon-drive:before { content: '\eb07'; } /* '' */
.icon-flow-parallel:before { content: '\eb09'; } /* '' */
.icon-doc-1:before { content: '\eb0f'; } /* '' */
.icon-doc-text-inv-1:before { content: '\eb10'; } /* '' */
.icon-box-1:before { content: '\eb18'; } /* '' */
.icon-lamp:before { content: '\eb26'; } /* '' */
.icon-right-open-big:before { content: '\eb2f'; } /* '' */
.icon-arrows-ccw:before { content: '\eb39'; } /* '' */
.icon-down-open-big:before { content: '\eb48'; } /* '' */
.icon-left-open-big:before { content: '\eb49'; } /* '' */
.icon-popup:before { content: '\eb4a'; } /* '' */
.icon-dot:before { content: '\eb60'; } /* '' */
.icon-air:before { content: '\eb65'; } /* '' */
.icon-thermometer-1:before { content: '\eb69'; } /* '' */
.icon-up-bold:before { content: '\eb6d'; } /* '' */
.icon-search-1:before { content: '\eb6e'; } /* '' */
.icon-layout:before { content: '\eb79'; } /* '' */
.icon-menu-1:before { content: '\eb7a'; } /* '' */
.icon-upload-1:before { content: '\eb8a'; } /* '' */
.icon-print-1:before { content: '\eb8c'; } /* '' */
.icon-vcard:before { content: '\eb9d'; } /* '' */
.icon-star-empty-1:before { content: '\ebf9'; } /* '' */
.icon-feather:before { content: '\ec16'; } /* '' */
.icon-picture-1:before { content: '\ec29'; } /* '' */
.icon-camera-1:before { content: '\ec2a'; } /* '' */
.icon-cup:before { content: '\ec2d'; } /* '' */
.icon-left-open-mini:before { content: '\ec30'; } /* '' */
.icon-right-open-mini:before { content: '\ec31'; } /* '' */
.icon-up-open-mini:before { content: '\ec34'; } /* '' */
.icon-gplus-1:before { content: '\ecc6'; } /* '' */
.icon-facebook-squared-1:before { content: '\ecc7'; } /* '' */
.icon-gplus-circled:before { content: '\ecc8'; } /* '' */
.icon-twitter-1:before { content: '\ecc9'; } /* '' */
.icon-vimeo-circled:before { content: '\ecca'; } /* '' */
.icon-vimeo-1:before { content: '\eccd'; } /* '' */
.icon-twitter-circled:before { content: '\ecce'; } /* '' */
.icon-folder-1:before { content: '\eccf'; } /* '' */
.icon-facebook-circled:before { content: '\ecd0'; } /* '' */
.icon-pinterest-1:before { content: '\ecd1'; } /* '' */
.icon-pinterest-circled-1:before { content: '\ecd2'; } /* '' */
.icon-tumblr-circled:before { content: '\ecd5'; } /* '' */
.icon-linkedin-1:before { content: '\ecd6'; } /* '' */
.icon-linkedin-circled:before { content: '\ecd7'; } /* '' */
.icon-dribbble-1:before { content: '\ecd8'; } /* '' */
.icon-dribbble-circled:before { content: '\ecd9'; } /* '' */
.icon-stumbleupon-1:before { content: '\ecda'; } /* '' */
.icon-stumbleupon-circled-1:before { content: '\ecdb'; } /* '' */
.icon-lastfm-1:before { content: '\ecdc'; } /* '' */
.icon-lastfm-circled:before { content: '\ecdd'; } /* '' */
.icon-rdio:before { content: '\ecde'; } /* '' */
.icon-rdio-circled:before { content: '\ecdf'; } /* '' */
.icon-spotify-1:before { content: '\ece0'; } /* '' */
.icon-spotify-circled:before { content: '\ece1'; } /* '' */
.icon-qq-1:before { content: '\ece2'; } /* '' */
.icon-logout-1:before { content: '\ed00'; } /* '' */
.icon-left-open-1:before { content: '\ed49'; } /* '' */
.icon-right-open-1:before { content: '\ed4b'; } /* '' */
.icon-down-dir-1:before { content: '\ed71'; } /* '' */
.icon-right-dir-1:before { content: '\ed73'; } /* '' */
.icon-down-open-mini:before { content: '\edb2'; } /* '' */
.icon-signal-1:before { content: '\edcb'; } /* '' */
.icon-reply-1:before { content: '\ee38'; } /* '' */
.icon-reply-all-1:before { content: '\ee39'; } /* '' */
.icon-forward-1:before { content: '\ee3a'; } /* '' */
.icon-code-1:before { content: '\ee3b'; } /* '' */
.icon-retweet-1:before { content: '\ee3c'; } /* '' */
.icon-doc-landscape:before { content: '\ee43'; } /* '' */
.icon-archive:before { content: '\ee45'; } /* '' */
.icon-cc-by:before { content: '\ee4d'; } /* '' */
.icon-cc-nc:before { content: '\ee57'; } /* '' */
.icon-cc-nc-eu:before { content: '\ee58'; } /* '' */
.icon-cc-nc-jp:before { content: '\ee59'; } /* '' */
.icon-cc-sa:before { content: '\ee5b'; } /* '' */
.icon-cc-zero:before { content: '\ee68'; } /* '' */
.icon-cc-pd:before { content: '\ee6c'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-dropbox-1:before { content: '\f330'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */
.icon-flattr:before { content: '\f336'; } /* '' */
.icon-skype-1:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-renren-1:before { content: '\f33c'; } /* '' */
.icon-sina-weibo:before { content: '\f33f'; } /* '' */
.icon-paypal-1:before { content: '\f342'; } /* '' */
.icon-picasa:before { content: '\f345'; } /* '' */
.icon-soundcloud-1:before { content: '\f348'; } /* '' */
.icon-mixi:before { content: '\f34b'; } /* '' */
.icon-behance-1:before { content: '\f34e'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */
.icon-vkontakte-1:before { content: '\f354'; } /* '' */
.icon-smashing:before { content: '\f357'; } /* '' */
.icon-db-shape:before { content: '\f600'; } /* '' */
.icon-sweden:before { content: '\f601'; } /* '' */
.icon-logo-db:before { content: '\f603'; } /* '' */
.icon-arrow-combo:before { content: '🎓'; } /* '\1f393' */
.icon-map-1:before { content: '🎨'; } /* '\1f3a8' */
.icon-window:before { content: '🎫'; } /* '\1f3ab' */
.icon-note-beamed:before { content: '👜'; } /* '\1f45c' */
.icon-attach-1:before { content: '👤'; } /* '\1f464' */
.icon-left-circled-1:before { content: '💦'; } /* '\1f4a6' */
.icon-up-open-1:before { content: '💧'; } /* '\1f4a7' */
.icon-up-circled-1:before { content: '💳'; } /* '\1f4b3' */
.icon-hourglass-4:before { content: '💼'; } /* '\1f4bc' */
.icon-direction-1:before { content: '💾'; } /* '\1f4be' */
.icon-location-1:before { content: '📁'; } /* '\1f4c1' */
.icon-down-circled-1:before { content: '🔾'; } /* '\1f53e' */
.icon-flickr-circled:before { content: '🕔'; } /* '\1f554' */
.icon-facebook-1:before { content: '🚫'; } /* '\1f6ab' */