@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?42566873');
  src: url('../font/fontello.eot?42566873#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?42566873') format('woff2'),
       url('../font/fontello.woff?42566873') format('woff'),
       url('../font/fontello.ttf?42566873') format('truetype'),
       url('../font/fontello.svg?42566873#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?42566873#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-progress-5:before { content: '\31'; } /* '1' */
.icon-progress-7:before { content: '\33'; } /* '3' */
.icon-progress-8:before { content: '\34'; } /* '4' */
.icon-progress-9:before { content: '\35'; } /* '5' */
.icon-right-dir-3:before { content: '\25b8'; } /* '▸' */
.icon-down-dir-3:before { content: '\25be'; } /* '▾' */
.icon-star-8:before { content: '\2605'; } /* '★' */
.icon-th-list-5:before { content: '\2630'; } /* '☰' */
.icon-heart-empty-4:before { content: '\2661'; } /* '♡' */
.icon-th-4:before { content: '\268f'; } /* '⚏' */
.icon-cog-7:before { content: '\2699'; } /* '⚙' */
.icon-attention-5:before { content: '\26a0'; } /* '⚠' */
.icon-ok-6:before { content: '\2713'; } /* '✓' */
.icon-ok-circle-1:before { content: '\2714'; } /* '✔' */
.icon-forward-4:before { content: '\27a6'; } /* '➦' */
.icon-minus-circle-1:before { content: '\e000'; } /* '' */
.icon-lock-8:before { content: '\e002'; } /* '' */
.icon-tag-7:before { content: '\e005'; } /* '' */
.icon-chat-6:before { content: '\e006'; } /* '' */
.icon-lock-open-7:before { content: '\e007'; } /* '' */
.icon-video-5:before { content: '\e009'; } /* '' */
.icon-progress-4:before { content: '\e00b'; } /* '' */
.icon-cancel-7:before { content: '\e00c'; } /* '' */
.icon-mail-8:before { content: '\e00d'; } /* '' */
.icon-attach-7:before { content: '\e00f'; } /* '' */
.icon-retweet-4:before { content: '\e012'; } /* '' */
.icon-search-8:before { content: '\e013'; } /* '' */
.icon-location-8:before { content: '\e014'; } /* '' */
.icon-comment-7:before { content: '\e016'; } /* '' */
.icon-plus-circle-1:before { content: '\e019'; } /* '' */
.icon-link-5:before { content: '\e01a'; } /* '' */
.icon-progress-6:before { content: '\e01b'; } /* '' */
.icon-cancel-circle-2:before { content: '\e022'; } /* '' */
.icon-heart-8:before { content: '\e029'; } /* '' */
.icon-left-circle-1:before { content: '\e4a1'; } /* '' */
.icon-right-circle-1:before { content: '\e4a2'; } /* '' */
.icon-up-circle-1:before { content: '\e4a3'; } /* '' */
.icon-down-circle-1:before { content: '\e4a4'; } /* '' */
.icon-th-large-3:before { content: '\e708'; } /* '' */
.icon-reply-4:before { content: '\e712'; } /* '' */
.icon-reply-all-2:before { content: '\e713'; } /* '' */
.icon-code-3:before { content: '\e714'; } /* '' */
.icon-comment-alt-2:before { content: '\e71a'; } /* '' */
.icon-doc-8:before { content: '\e730'; } /* '' */
.icon-docs-landscape:before { content: '\e737'; } /* '' */
.icon-archive-2:before { content: '\e738'; } /* '' */
.icon-rss-7:before { content: '\e73a'; } /* '' */
.icon-rss-alt-1:before { content: '\e73b'; } /* '' */
.icon-logout-3:before { content: '\e741'; } /* '' */
.icon-resize-full-6:before { content: '\e744'; } /* '' */
.icon-popup-5:before { content: '\e74c'; } /* '' */
.icon-left-open-5:before { content: '\e75d'; } /* '' */
.icon-right-open-5:before { content: '\e75e'; } /* '' */
.icon-arrows-cw-3:before { content: '\e760'; } /* '' */
.icon-resize-full-circle:before { content: '\e7a6'; } /* '' */
.icon-down-micro:before { content: '\e7a7'; } /* '' */
.icon-up-micro:before { content: '\e7a8'; } /* '' */
.icon-cw-circle:before { content: '\e7a9'; } /* '' */
.icon-updown-circle:before { content: '\e7aa'; } /* '' */
.icon-progress-10:before { content: '\eb44'; } /* '' */
.icon-progress-11:before { content: '\eb45'; } /* '' */
.icon-font-2:before { content: '\eb46'; } /* '' */
.icon-list-4:before { content: '\eb47'; } /* '' */
.icon-list-numbered-1:before { content: '\eb48'; } /* '' */
.icon-indent-left-2:before { content: '\eb49'; } /* '' */
.icon-indent-right-2:before { content: '\eb4a'; } /* '' */
.icon-cloud-8:before { content: '\eb4b'; } /* '' */
.icon-terminal-1:before { content: '\eb4c'; } /* '' */
.icon-facebook-rect-2:before { content: '\f301'; } /* '' */
.icon-twitter-bird-2:before { content: '\f303'; } /* '' */
.icon-googleplus-rect-1:before { content: '\f309'; } /* '' */
.icon-vkontakte-rect-1:before { content: '\f30a'; } /* '' */
.icon-skype-6:before { content: '\f30b'; } /* '' */
.icon-odnoklassniki-rect-1:before { content: '\f30d'; } /* '' */
.icon-vimeo-rect-1:before { content: '\f30e'; } /* '' */
.icon-tumblr-rect-1:before { content: '\f310'; } /* '' */
.icon-linkedin-rect-1:before { content: '\f312'; } /* '' */
.icon-youtube-4:before { content: '\f313'; } /* '' */
.icon-picture-5:before { content: '🌄'; } /* '\1f304' */
.icon-target-5:before { content: '🎯'; } /* '\1f3af' */
.icon-user-8:before { content: '👤'; } /* '\1f464' */
.icon-folder-6:before { content: '📁'; } /* '\1f4c1' */
.icon-signal-5:before { content: '📶'; } /* '\1f4f6' */
.icon-clock-8:before { content: '🕔'; } /* '\1f554' */
.icon-block-5:before { content: '🚫'; } /* '\1f6ab' */